<%- include("partials/header"); -%>

    <div class="container overflow-y-auto">
        <div class="row gx-4">
            <div class="col-md-3 text-black pt-5 pb-5">
                <div class="card-img">
                    <% if(profile) {%>
                        <img class="pfp " src="<%= path %>">
                        <% }else{ %>
                            <img class="pfp " src="/images/pfp-auto.png">
                            <% } %>
                </div>
                <div style="font-size: 18px;" class="text-black pt-4">
                    <b>
                        <%= name %>
                    </b>
                </div>
                <div class="text-black pt-3">
                    <p>
                        <%= bio %>
                    </p>
                </div>
                <div class="text-black" style="list-style-type: none;">
                    <% if(location!="" ) {%>
                        <li>
                            <%= location %>
                        </li>
                        <% } %>
                            <% if(email!="" ) {%>
                                <li>
                                    <%= email %>
                                </li>
                                <% } %>
                                    <% if(number!="" ) {%>
                                        <li>
                                            <%= number %>
                                        </li>
                                        <% } %>
                </div>
            </div>
            <div class="col-md-8 text-black pt-5 pb-5 px-5" style="background-color: #c8c7c7;">

                <div class="col-12 px-3 ">
                    <input type="radio" class="btn-check" name="options-base" id="id-projects" autocomplete="off"
                        checked>
                    <label class="btn col-12" for="id-projects">Projects</label>

                    <!-- <input type="radio" class="btn-check" name="options-base" id="id-requests" autocomplete="off">
                    <label class="btn col-5" for="id-requests">Project Requests</label> -->
                </div>

                <div class="card-body">
                    <div class="pt-5 text-black" style="list-style-type: none;">
                        <% projects.forEach(element=> { %>
                            <li class="col-12 pb-3">
                                <div class="project-name">
                                    <a class="text-black-50" href="/secret/<%= element._id %>">
                                        <b>
                                            <%= element.name %>
                                        </b>
                                    </a>
                                </div>
                                <div class="project-info pt-2" style="text-align: justify;">
                                    <p>
                                        <%= element.info %>
                                    </p>
                                </div>
                                <div class="tech-names" style="font-size: 17px;">
                                    <p>
                                        <%= element.tech %>
                                    </p>
                                </div>
                            </li>
                            <hr />
                            <% }); %>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <%- include("partials/footer"); -%>